<html>
<head>
    <title>Blog</title>
</head>
<body>
    <div>
        Mi primer blog - Inicio
    </div>
    <hr/>
    {% for article in articles %}
    <div>
        <h3>{{ article.title }} - {{ article.created_at }} - ({{ article.comments.count }}) comentarios</h3>
        <div>{{ article.body }}</div>
        <div class="comments">
            {% for comment in article.comments.all %}
            <div>Comentario: {{ comment.text }}</div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</body>
</html>
