<html>
<head>
	<title>{{ users.name }} - Users</title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}estilo.css">
</head>
<body>
	<a href="{% url users %}">User</a>
	<h1>{{ users.first_name }} {{ users.last_name }}</h1>
	<h3>Cantidad de Tweets: {{ users.tweets.count }}</h3>
	<p>Nick : {{ users.nick_name }}</p>
	<p>Imagen: </p><br/>
	<img id="image" src="{{ MEDIA_URL }}{{ users.image_profile }}"/>
		<ul id="nav">
			<li><h3>tweets:</h3>
				<ul>
					<p>{% for tweet in users.tweets.all %}
						<div> <li>ID : {{ tweet.pk }} - status: {{ tweet.status }} <br/> Created_at  :  {{tweet.created_at}} </li><br/></div>
						{% endfor %}
					</p>
				</ul>
			</li>
		</ul>
</body>
</html>
