<html>
<head>
	<title>{{ users.name }} - Users</title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}estilo.css">
</head>
<body>
	<a href="{% url users %}">User</a>
	<h1>{{ users.name }} {{ users.tweets.count }}</h1>
	<p>Nick : {{ users.nick_name }}</p>
	<p>Imagen: </p><br/>
	<p>imagen: {{ users.image_profile }} <br/>media_root {{ MEDIA_ROOT }}<br/> media_url {{ MEDIA_URL }} <br/>static_url {{ STATIC_URL }}</p>
	<h1>{{ users.image_profile }}</h1>
	<img src="{{ users.image_profile }}"/>
	<img src="{{ MEDIA_URL }}{{ users.image_profile }}"/>
	<img src="{{ MEDIA_ROOT }}{{ users.image_profile }}"/>
	<img src="{{ STATIC_URL }}{{ users.image_profile }}"/>
		<ul id="nav">
			<li><h3>tweets:</h3>
				<ul>
					<p>{% for tweet in users.tweets.all %}
						<div> <li>ID : {{ tweet.pk }} - status: {{ tweet.status }} <br/> Created_at  :  {{tweet.created_at}} </li><br/></div>
						{% endfor %}
					</p>
				</ul>
			</li>
		</ul>
</body>

</html>
